.marquee-app {
  margin-right: 150px;
  margin-left: 150px;
}

.marquee-description-modal {
  width: 600px;
  height: 400px;
  position: absolute;
  top:100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: seashell;
}

.marquee-sleeping-span {
  width: 150px;
  height: 125px;
  border: 1px solid lightgray;
}