.photo-grid {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-rows: 250px 250px;
}

.photo-item {
  margin: 5px;
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.marquee-image {
  max-width: 100%;
  object-fit: cover;
}

.main-photo-item {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 5px;
  max-width: 98%;
  object-fit: cover;
}

.item-a {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: blue;
}

.item-b {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: gold;
}

.item-c {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item-d {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}


